config.stopBubbling = true
lombok.addLombokGeneratedAnnotation = true
lombok.anyConstructor.addConstructorProperties = false
lombok.accessors.chain = true
lombok.accessors.fluent = false
lombok.equalsAndHashCode.callSuper = call
lombok.copyableAnnotations += com.google.inject.name.Named
lombok.addLombokGeneratedAnnotation = true
lombok.jacksonized.jacksonVersion += 3